<%= render 'navbar' %>
<%= render 'banner' %>
<div class="container">
  <div class="card">
    <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      <%= link_to cocktail.name, cocktail_path(cocktail), class: 'lien' %>
    </div>
    <%= link_to '(delete)', cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?' }, class: 'lien' %>
    <% end %>
  </div>
</div>

