<%= render 'navbar' %>
<div class="container pt-3">
  <h2>Add a new cocktail</h2>

  <%= simple_form_for(@cocktail) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-ghost'%>
  </div>
<% end %>
  <div class="text-center">
    <%= link_to 'Back to list', cocktails_path, class: 'lien' %>
  </div>
</div>
